.optionBlock{
    background-color: white;
    border-radius: 8px;
    padding: 10px 0px;
    position: absolute;
    top: 50px;
    left: 230px;
    width: 250px;
    z-index: 1;
    font-weight: 800;
    &_header{
       display: flex;
       justify-content: center;
       padding-bottom: 15px;
       p{
        align-self: center;
       }
       span {
        position: absolute;
        top: 5px;
        right: 7px;
        padding: 2px 8px;
        border-radius: 5px;
        &:hover {
            background-color: #747f8f7f;
            
        }
    }
        
    }
}
.parentStandartDiv{
    display: flex;
    flex-direction: column;
    h3{
        font-size: 12px;
        font-weight: 900;
        cursor:auto;
        padding: 6px 12px;
    }
    hr{
       margin: 12px;
    }
}
.standartBlock{
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
    
    &:hover{
        background-color: #4e5c7331;
    }
}
.listNone{
    display: none;
}