.creatBoardParent{
    position: absolute;
    background-color: #282e33;
    top: 48px;
    width: 300px;
    padding: 15px 13px;
    color: #9fadbc;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border-radius: 11px;
  
    .iconsBlock{
        display: flex;
        gap: 5px;
        
    }
    span{
        color: #9fadbc;
        font-size: 12px;
    }
}
.createBoard{
    width: 298px;
    margin-left: -12px;
    padding: 6px 12px;
    cursor: pointer;
    &:hover{
        background-color: #7e878f69;
    }
}