.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b17878;
    width: 100%;
    span {
      font-size: 36px;
      color: #333;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      animation: fadeIn 1s ease both, bounce 1s ease infinite alternate, colorChange 3s linear infinite;
      transform-origin: center;
      transition: transform 0.3s ease;
  
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes colorChange {
    0% {
      color: #333;
    }
    50% {
      color: #ff0000;
    }
    100% {
      color: #333;
    }
  }
  