.btn {
    background: #B9DFFF;
    color: rgb(9, 9, 9);
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    cursor: pointer;
    padding: 5px;
    margin-top: 25px;
    &:hover {
        background: #016ABC;
        color: #fff;
        border: 1px solid #eee;
        border-radius: 20px;
        box-shadow: 5px 5px 5px #eee;
        text-shadow: none;
    }
}