@import '../../assets//liStyles.scss';

.checkList {
    @include content;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: black;
    z-index: 8;

    .addBlock {
        @include buttonLi;
    }
}