.settings{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.521);
    transition: opacity 300ms ease;
    z-index: 1;
}
.settingsIsNone{
    width: 0;
    height: 0;
    opacity: 0;
    top: -500px;
    left: -700px;
}
