.modalBlock{
    padding: 25px;
    display: flex;
    flex-direction: column;
    color: #9fadbc;
    &_header{
        height: 50px;
        
    }
    b{
        text-decoration:underline;
    }
    &_downContent{
        flex: 1;
        display: flex;

    }
}

.taskName{
    display: flex;
    .iconBlock{
        width: 45px;
        align-self: center;
       
    }
    .inputBlock{
        flex: 1;
        input{
            color: #9fadbc;
            width: 100%;
            padding: 3px;
            background-color: #323940;
            border: 1px solid #323940;
            outline: none;
            font-size: 20px;
            &:focus{
                border: 1px solid rgb(78, 9, 236);
            }
        }
    }
    .closeBlock{
        width: 45px;
        margin-left: 25px;
    }
}
.downLeft{
    margin-top: 40px;
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    span{
        font-size: 15px;
        font-weight: 800;
    }
    .membersBlock{
        display: flex;
        gap: 5px;
        
        .members{
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            .userBlock{
                display: flex;
                gap: 5px;
                padding: 10px;
                div{
                    padding: 3px;
                    background-color: #1d212581;
                    border-radius: 50%;
                    &:hover{
                        background-color: #1d21254d;
                    }
                }
            }
        }
        

    }
    .notigication{
        display: flex;
        
        .notigication_blocks{
            display: flex;
            gap: 15px;
            flex-direction: column;
            div{
                display: flex;
                gap: 10px;
                border-radius: 8px;
                background-color: #1d212581;
                padding: 10px;
                span{
                    align-self: center;
                }
                &:hover{
                    background-color: #1d21254d;;
                }

            }
        }
    }
}
.modallDescription{
   display: flex;
   flex-direction: column;
   gap: 15px;
    .modalHeader{
        display: flex;
        justify-content: space-between;
        &_leftBlock{
            display: flex;
            gap: 10px;
            .desc{
                align-self: center;
                padding: 3px;
                span{
                    font-size: 20px;
                }
            }
            .iconB{
                padding: 3px;
                align-self: center;
            }
        }
        &_rightBlock{
            padding: 3px;
            div{
                padding: 6px 12px;
                background-color: #48515ad7;
                &:hover{
                    background-color: #828c9663;
                }
            }
        }
    }
}
.modalTaskDesc{
    padding-left: 42px;
    .descrptionDiv{
        padding-left: 5px;
        margin-top: 25px;
        height: 50px;
    }
}
.modalTaskDescChangeBlock{
    padding-left: 42px;
    textarea{
        resize: none;
        padding: 20px 10px;
        height: 250px;
        width: 100%;
        background-color: #1d212581;
        outline: none;
        color: white;
        &::placeholder{
            color: #9fadbc;
        }
    }
    .saveBlock{
        display: flex;
        justify-content: space-between;
        &_leftSection{
            display: flex;
            gap: 8px;
            .save{
                padding: 8px;
                background-color: #4f90eb;
                align-self: center;
                color: black;
                font-weight: 400;
                &:hover{
                    background-color: #4f90eb94;
                }
            }
            .cancel{
                align-self: center;
                padding: 8px;
                &:hover{
                    background-color: #1f23275e;
                }
            }
        }
    }
    .shareblock{
        display: flex;
        color: #4f90eb;
        div{
            padding: 3px;
        }
    }
}
.activityBlock{
    display: flex;
    justify-content: space-between;
    &_icons{
        display: flex;
        gap: 25px;
        div{
            span{
                font-size: 20px;
            }
        }
    }
    .hideDetalis{
        padding: 8px;
        background-color: #555e68d2;
        &:hover{
            background-color: #a7aeb663;
        }
    }
}
.commentUser{
    display: flex;
    .userIcon{
        width: 35px;
    }
    .commentInput{
        background-color: #21262bbd;
        border-radius: 8px;
        padding: 5px 7px;
        flex: 1;
    }
}
.inputForComment{
    flex: 1;
   textarea{
    resize: none;
    color: white;
    background-color: #21262bbd;
    padding: 5px 4px;
    width: 100%;
    outline: 1px solid #657483;
    height: 70px;
   }
   button{
    padding: 8px;
   }

}
.downRightComponent{
    padding-left: 35px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h5{
        padding: 5px 12px;
        cursor:default;
    }
    .coostomBlock{
        display: flex;
        padding: 5px 4px;
        font-size: 15px;
        background-color: #4f5861cb;
        width: 100%;
        gap: 6px;
        span{
            align-self: center;
        }
        &:hover{
            background: #939da7cb;
        }
    }
}
.opacityBlock{
    display: flex;
    padding: 5px 4px;
    gap: 5px;
    width: 100%;
    font-size: 15px;
    &:hover{
        background-color: #4f5861cb;
    }
}