.contentUserMenu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #495661;
    color: white;
    padding: 6px 12px ;
    border-radius: 8px;
}
.templateBlock{
   display: flex;
   gap: 10px;
   height: 30px;
    &_text{
        display: flex;
        background-color: #0052cc;
        padding: 3px 4px;
        align-self: center;
        border-radius: 4px;
    }
    .iconBlock{
        align-self: center;
    }
}