@import '../../assets/liStyles.scss';

.checkListModal{
    position: relative;
    .coostomBlock{
        @include coostomBlock;
    }
    .menuBlock{
       @include liblocks;
    }
    .menuBlockActive{
        display: block;
        z-index: 8;
    }
}