@import '../../assets//liStyles.scss';
.editLabels{
@include content;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: black;
    z-index: 9;
    h5{
        cursor: default;
        padding: 4px;
    }
    .colors{
        display: flex;
        gap: 10px;
        input{
            width: 10px;
        }
        &_color{
            flex: 1;
        }
        .icon{
            width: 25px;
        }
    }
}



