@import '../../assets//liStyles.scss';
.copy{
 @include content;
    textarea{
        width: 95%;
        height: 70px;
        resize: none;
    }
    @include liBoardsStyle;
   .button{
    @include buttonLi;
   }
}