@import '../../assets//liStyles.scss';
.copy{
 @include globalSection;
 z-index: 3;
 padding: 10px 8px;
    textarea{
        width: 100%;
        height: 70px;
        resize: none;
    }
    @include liBoardsStyle;
   .button{
    margin-top: 8px;
    @include styleForSubmit;
   }
}