@import '../../assets//liStyles.scss';
.copy{
 @include content;
 position: absolute;
 top: 30px;
 left: 0;
 background-color: black;
 z-index: 3;
    textarea{
        width: 95%;
        height: 70px;
        resize: none;
    }
    @include liBoardsStyle;
   .button{
    @include buttonLi;
   }
}