@import '../../assets//vars.scss';
.header_div{
    align-self: center;
}
.header{
    height: 30px;
    padding: 5px;
    background-color: $search-bg;
    cursor: pointer;
    border-radius: 4px;
    transition: all ease-in-out 200ms;
    color: black;
}