@import '../../assets//liStyles.scss';
.attach{
  @include globalSection;
  @include globalStylesForMenu;
  padding: 8px 15px 14px;
  z-index: 6;
  h5{
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .parag{
    font-size: 12px;
    margin-bottom: 10px;
}
  .chose{
    width: 100%;
    text-align: center;
    padding: 5px 3px;
    background-color: #323940;
    cursor: pointer;
    &:hover{
        background-color: #4c545c;
    }
  }
  hr{
    margin: 15px 0;
    height: 0;
    border: 2px solid #3d474f31;
  }
  .labelBlock{
    @include stylesBlockLabels;
  }
}
h6{
  margin-bottom: 10px;
}
.culumnLists{
  margin-bottom: 15px;
  width: 300px;
  margin-left: -15px;
  background-color: none;
}
.btnBlocks{
  display: flex;
  justify-content: flex-end;
  gap: 2px;
  button{
    padding: 6px;
    font-size: 16px;
  }
  .cancelBtn{
    background-color: #282e33;
    color: white;

    &:hover{
       background-color: #474d52;
    }
  }
  .insert{
    color: black;
    background-color:#579dff ;
    &:hover{
      background-color: #8ebdff;
    }
  }
}