.boardBackgraund{
    position: absolute;
    top: 101px;
    left: 981.25px;
    background-color: #282e33;
    color: #9fadbc;
    z-index: 3;
    width: 300px;
    padding: 5px 13px 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-x: hidden;
    max-height: calc(100vh - 120px);
    border: 1px solid #3a424a;
    &_header{
        display: flex;
        justify-content: center;
        position: relative;
        padding: 10px 15px;
        span{
            position: absolute;
            top: 3px;
            right: -2px;
            cursor: pointer;
            border-radius: 7px;
            padding: 6px 8px;
            &:hover{
                background-color: #474c5285;
            }
        }
    }
    &::-webkit-scrollbar {
        width: 10px;
      }
      
      &::-webkit-scrollbar-track {
        background-color: #1c2015;
        border-radius: 4px;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: #323b35;
        border-radius: 4px;
      }
}
.photosBlock{
    display: flex;
    justify-content: space-between;
    h5{
        color: #b6c2cf;
        font-size: 15px;
        font-weight: 900;
        align-self: center;
    }

}
.backgraunds{
    display: flex;
    flex-direction: column;
    gap: 6px;
    .last,.first{
        display: flex;
        gap: 6px;
        div{
            width: 85px;
            height: 56px;
            border-radius: 6px;
            cursor: pointer;
        }
    }
}
.seeSection{
    padding: 5px;
    background-color: #3a424a;
    cursor: pointer;
    transition: all 100ms ease;
    border-radius: 4px;
    &:hover{
        background-color:  #59636d;
        
    }
}
.backgraund1{
    background: url("https://images.unsplash.com/photo-1691250993170-4c9919194aa4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3MDY2fDB8MXxjb2xsZWN0aW9ufDF8MzE3MDk5fHx8fHwyfHwxNjkxNDc4MDYwfA&ixlib=rb-4.0.3&q=80&w=400");
    background-size: cover;
    background-position: center center;
}
.backgraund2{
    background: url("https://images.unsplash.com/photo-1690369936917-0da2f88a8e40?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3MDY2fDB8MXxjb2xsZWN0aW9ufDJ8MzE3MDk5fHx8fHwyfHwxNjkxNDc4MDYwfA&ixlib=rb-4.0.3&q=80&w=400");
    background-size: cover;
    background-position: center center;
}
.backgraund3{
    background: url("https://images.unsplash.com/photo-1690834787964-3fbac1bcd362?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80");
    background-size: cover;
    background-position: center center;
}
.backgraund4{
    background: url("https://images.unsplash.com/photo-1684008375639-89a298cc15be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    background-position: center center;
}
.backgraund5{
    background: url("https://images.unsplash.com/photo-1684008345372-107e4d041bc2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80"); 
    background-size: cover;
    background-position: center center;
}
.backgraund6{
    background: url("https://images.unsplash.com/photo-1684008319797-ec0c6265ec30?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80");
    background-size: cover;
    background-position: center center;
}
.backgraund9{
    background: url("https://trello.com/assets/707f35bc691220846678.svg") ;
    background-size: cover;
    background-position: center center;
}
.backgraund10{
    background: url("https://trello.com/assets/d106776cb297f000b1f4.svg") ;
    background-size: cover;
    background-position: center center;
    
}
.backgraund11{
    background: url("https://trello.com/assets/8ab3b35f3a786bb6cdac.svg") ;
    background-size: cover;
    background-position: center center;
}
.backgraund12{
    background: url("https://trello.com/assets/a7c521b94eb153008f2d.svg") ;
    background-size: cover;
    background-position: center center;
}
.backgraund13{
    background: url("https://trello.com/assets/aec98becb6d15a5fc95e.svg") ;
    background-size: cover;
    background-position: center center;
}
.backgraund14{
    background: url("https://trello.com/assets/b75536d1afb40980ca57.svg") ;
    background-size: cover;
    background-position: center center;
}