@import '../../assets//liStyles.scss';
.move{
@include content;
   @include liBoardsStyle;
   position: absolute;
   top: 30px;
   left: 0;
   background-color: black;
   z-index: 4;
   .button{
    @include buttonLi(80px);
}
}