// Header Vars
$header-bg:#1d2125;
$header-color:#9fadbc;
$menuBlock-bg:#1d2836;
$menuBlock-color:aliceblue;
$search-bg:#579dff;
$search-bg-hover:#579dffda;
$input-bg:#1d2125;
$input-color:white;
$k7-bg:#1d2836;
$k7-color:aliceblue;
//Content Vars
$leftContainer-bg:#2C2322;
$first-bg:#BE5496;
$rightBlock-color:white;
