.parentBlock{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.4);
    z-index: 5;
}
.deleteBlock{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    color: #9caab8;
    background-color: #282e33;
    z-index: 1;
    padding: 10px 10px 25px;
    border-radius: 9px;
}
.question{
    display: flex;
    justify-content: center;

}
.answer{
    display: flex;
    justify-content: center;
    gap: 10px;
    .request{
        padding: 4px 25px;
        background-color: aquamarine;
        cursor: pointer;
        color: black;
        border-radius: 5px;
        user-select: none;
        &:hover{
            background-color: rgb(115, 187, 163);
        }
    }
}
h4{
    text-align: center;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #9caab88e;
}
