.creatBoardParentTwo{
    overflow-x: hidden;
    max-height: calc(100vh - 55px);
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    background-color: #282e33;
    top: 48px;
    width: 300px;
    padding: 15px 13px;
    z-index: 2;
    border-radius: 11px;
    color: #9fadbc;
    &_header{
        display: flex;
        justify-content: space-between;
        .rightIcon{
            padding: 4px 10px;
            border-radius: 6px;
            cursor: pointer;
            &:hover{
                background-color: #626c77;
            }
        }
        .boardTitle{
            align-self: center;
        }
        span{
            color: #9fadbc;
        }
    }
    &::-webkit-scrollbar {
        width: 10px;
      }
      
      &::-webkit-scrollbar-track {
        background-color: #1c2015;
        border-radius: 4px;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: #323b35;
        border-radius: 4px;
      }
}
.backgraundImg{
    padding: 5px 0;
    margin: 10px auto;
    width: 200px;
    height: 120px;
    display: flex;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1690692322953-fb0f543c6658?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3MDY2fDB8MXxjb2xsZWN0aW9ufDF8MzE3MDk5fHx8fHwyfHwxNjkxMjQ1MTQ4fA&ixlib=rb-4.0.3&q=80&w=400https://images.unsplash.com/photo-1690692322953-fb0f543c6658?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3MDY2fDB8MXxjb2xsZWN0aW9ufDF8MzE3MDk5fHx8fHwyfHwxNjkxMjQ1MTQ4fA&ixlib=rb-4.0.3&q=80&w=400");
    background-size: cover;
    background-position: center center;
    border-radius: 7px;
}
.backgraunds{
    display: flex;
    flex-direction: column;
    gap: 10px ;
    &_top{
        display: flex;
        gap: 8px;
        div{
            width: 70px;
            height: 40px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    &_down{
        display: flex;
        gap:7px;
        div{
            min-width: 40px;
            height: 32px;
            border-radius: 3px;
            cursor: pointer;
        }

    }
   
}
.selecBackgraundOne{
   background-image: url("https://images.unsplash.com/photo-1690692322953-fb0f543c6658?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3MDY2fDB8MXxjb2xsZWN0aW9ufDF8MzE3MDk5fHx8fHwyfHwxNjkxMjQ1MTQ4fA&ixlib=rb-4.0.3&q=80&w=400https://images.unsplash.com/photo-1690692322953-fb0f543c6658?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3MDY2fDB8MXxjb2xsZWN0aW9ufDF8MzE3MDk5fHx8fHwyfHwxNjkxMjQ1MTQ4fA&ixlib=rb-4.0.3&q=80&w=400");
   background-size: cover;
   background-position: center center;
}
.selecBackgraundTwo{
    background: url("https://images.unsplash.com/photo-1690738083729-f5d21709425c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3MDY2fDB8MXxjb2xsZWN0aW9ufDJ8MzE3MDk5fHx8fHwyfHwxNjkxMjQ1MTQ4fA&ixlib=rb-4.0.3&q=80&w=400");
    background-size: 100%;
    background-position: center center;

}
.selecBackgraundTree{
    background: url("https://images.unsplash.com/photo-1690382285917-73dfd2a22d07?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3MDY2fDB8MXxjb2xsZWN0aW9ufDN8MzE3MDk5fHx8fHwyfHwxNjkxMjQ1MTQ4fA&ixlib=rb-4.0.3&q=80&w=400");
    background-size: 100%;
    background-position: center center;
}
.selecBackgraundFor{
    background: url("https://images.unsplash.com/photo-1690373618614-41a535020206?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3MDY2fDB8MXxjb2xsZWN0aW9ufDR8MzE3MDk5fHx8fHwyfHwxNjkxMjQ1MTQ4fA&ixlib=rb-4.0.3&q=80&w=400");
    background-size: 100%;
    background-position: center center;
}
.selectBackgraundDownA{
    background: url("https://trello.com/assets/707f35bc691220846678.svg");
    background-size: 100%;
    background-position: center center;
}
.selectBackgraundDownB{
    background: url("https://trello.com/assets/d106776cb297f000b1f4.svg");
    background-size: 100%;
    background-position: center center;
}
.selectBackgraundDownC{
    background: url("https://trello.com/assets/8ab3b35f3a786bb6cdac.svg");
    background-size: 100%;
    background-position: center center;
}
.selectBackgraundDownD{
    background: url("https://trello.com/assets/a7c521b94eb153008f2d.svg");
    background-size: 100%;
    background-position: center center;
}
.selectBackgraundDownE{
    background: url("https://trello.com/assets/aec98becb6d15a5fc95e.svg");
    background-size: 100%;
    background-position: center center;
}
.selectBackgraundDownF{
    background: #626c77;
    display: flex;
    justify-content: center;
    span{
        margin-top: 4px;
        color: white;
        font-weight: 800;
    }  
    &:hover{
        background: #8e959c;
    }
}
.labelBlock{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    label{
        margin-bottom: 2px;
        span{
            color: red;
        }
    }
    input{
        padding: 8px 10px;
        outline: none;
        border: 2px solid rgba(57, 142, 240, 0.774) ;
        background-color: #1e2024;
        color: white;
        
        &:hover{
            border:  2px solid rgb(255, 94, 0);
            background-color: #292b30;
        }
        &:focus{
            border: 2px solid rgba(57, 142, 240, 0.774) ;
            background-color: #1e2024;
        }
    }
    p{
        margin-top: 5px;
    }
}
.selectBlock{
    margin-top: 15px;
  
}
.select{
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    background-color: #1e2024;
    width: 100%;
    border: 2px solid #384149;
    padding: 3px 10px;
    position: relative;

    &:hover{
        background-color: #292b30;
    }
    span{
        align-self: center;
        color: #9fadbc;

    }

}
.btns{
    margin-top: 14px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    button{
        padding: 9px 5px;
        border-radius: 6px;
    }
    .createBtn{
        background-color: #2E353B;
        color: #9fadbcb4;
        cursor: not-allowed;   
    }
    .activeCreate{
        background-color: #579DFF;
        color: #1D2125;
        cursor: pointer;
        &:hover{
            background-color: #76aefd;
        }
        
    }
    .templateBtn{
        background-color: #323940;
        color: #fbfdff;
        &:hover{
            background-color:#515b6496 ;
        }
    }
}
.paragBlock{
    margin-top: 8px;
    font-size: 12px;
    span{
        color: #9fadbc;
        &:hover{
            text-decoration: underline;
        }
    }
}
