@import '../../assets/liStyles.scss';
.members{
 @include globalSection;
 @include globalStylesForMenu;
    .userBlock{
        display: flex;
        padding: 4px;
        border-radius: 9px;
        .iconBlock{
            padding: 5px 0;
            align-self: center;
        }
        p{
            padding: 5px 0;
            align-self: center;
        }
        &:hover{
            background-color: #ccc;
        }
    }
}