@import '../../assets/liStyles.scss';
.members{
@include content;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: black;
    z-index: 10;
    h5{
        cursor: default;
        padding: 4px;
    }
    .userBlock{
        display: flex;
        padding: 4px 14px;
        border-radius: 9px;
        .iconBlock{
            padding: 5px;
            align-self: center;
        }
        p{
            padding: 5px;
            align-self: center;
        }
        &:hover{
            
            background-color: #ccc;
        }
    }
}